* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cormorant Garamond';
}

.img-holder img {
    margin-top: 1em;
    width: 250px;
    height: 40px;
}

.img-holder {
    display: flex;
    justify-content: center;
}


/*HEADER*/

.header {
    background-image: url("images/header/background2.png"), url("images/header/background1.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 630px;
    display: flex;
    justify-content: center;
    margin-bottom: 15%;
}

.header-holder {
    width: 80%;
    height: 120%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-bar {
    margin: 1em 0;
    padding-bottom: 1em;
    display: flex;
    justify-content: space-between;
    border-bottom: solid white 1px;
}

.media-links i {
    color: #91B40D;
    padding-left: 1em;
}

.menu-icon {
    display: none !important;
}

.navbar-holder {
    display: flex;
    justify-content: space-between;
    margin: 2em 0;
}

.navbar {
    transition: 1s;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    list-style: none;
    float: left;
}

.navbar li {
    margin-right: 2em;
    display: inline-block;
}

.navbar a {
    padding: 15px 30px;
    color: white;
    text-decoration: none;
    transition: .5s;
}

.navbar a:hover {
    border-radius: 5px;
    background-color: #91B40D;
    background-image: url("images/header/gr1.png");
    background-repeat: no-repeat;
    background-size: 1.8em;
    background-position: right bottom;
}

.responsive-nav {
    display: none;
}

.search-bar {
    display: flex;
    align-self: center;
    transition: 1s;
}

.search-icon,
.search-bar form {
    display: flex;
    align-self: center;
    cursor: pointer;
}

.search-input {
    display: none;
    border: none;
    background-color: transparent;
    color: white;
}

.search-input:focus {
    outline: none;
}

.search-input::placeholder {
    color: #F5F5F5;
    font-size: 1.2em;
}

.search-bar-active {
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
    align-self: center;
    width: 15em;
    height: 2em;
    border-radius: 1em;
    background-color: #91B40D;
    text-align: end;
}

.pre-present {
    display: flex;
    justify-content: space-between;
}

.pre-present .pre-item {
    color: white;
    width: 350px;
    height: 250px;
    border-radius: 1em;
    background-repeat: no-repeat;
    padding: 2em;
}

.pre-present .fruits img {
    width: 200px;
    height: 230px;
    right: 1em;
    bottom: 1em;
}

.pre-present .vegetables img {
    width: 290px;
    height: 166px;
    right: 6em;
    top: 4em;
}

.pre-present .grain img {
    width: 350;
    height: 262;
    left: 2em;
    top: 1em;
}

.pre-present .fruits {
    background-image: url("images/header/group1.png"), url("images/header/rectangle1.png");
}

.pre-present .vegetables {
    background-image: url("images/header/group2.png"), url("images/header/rectangle2.png");
}

.pre-present .grain {
    background-image: url("images/header/group1.png"), url("images/header/rectangle3.png");
}

.pre-content {
    display: flex;
    justify-content: space-between;
}

.pre-item-name {
    font-size: 32px;
    margin-bottom: 20px;
}

.pre-item-text a {
    color: white;
    font-size: 24px;
    width: 10em;
    text-decoration: none;
    overflow: visible;
}

.pre-image-holder img {
    display: flex;
    position: relative;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


/*WHO WE ARE*/

.who-we-are {
    height: 800px;
}

.wwa-holder {
    display: flex;
    justify-content: center;
    height: 800px;
}

.wwa-content {
    margin: 50px 0;
    background-color: #F5F5F5;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 0 122px;
    background-image: url("images/gardens/bg.png");
    background-repeat: no-repeat;
    background-position: 0% 60%;
}

.wwa-content>* {
    display: flex;
    justify-content: center;
    align-content: center;
}

.wwa-img img {
    height: 800px;
    width: 530px;
}

.wwa-content-header img {
    width: 208px;
    height: 35px;
}

.wwa-content-text {
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #3E3737;
    margin-bottom: 30px;
}

.wwa-content-img {
    height: 17px;
}

.wwa-content-bar {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
}

.wwa-content-bg-img {
    position: relative;
    top: 30em;
    right: 20em;
}


/*GARDEN*/

.gardens {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3.25em;
}

.garden-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
}

.gardenn-image-holder {
    display: flex;
    justify-content: center;
}

.garden-content-holder {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.garden-n {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 320px;
}

.garden-2 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}

.garden-num {
    font-style: normal;
    font-weight: 400;
    font-size: 120px;
    line-height: 145px;
    text-align: start;
    color: #918F8F;
}

.garden-content-header {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    margin: 10px 0;
    text-align: start;
    color: #5F5C5C;
}

.garden-content-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #7C7A7A;
}


/*PRODUCTS*/

.products {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url("images/gardens/bg.png");
    background-repeat: no-repeat;
    background-position: left top;
}

.pr-header h1 {
    text-align: center;
}

.pr-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.pr-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pr-navbar {
    display: flex;
    justify-content: center;
}

.pr-navbar ul {
    list-style: none;
}

.pr-navbar li {
    float: left;
    margin: 1em 1em;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #2A332B;
}

#active {
    color: #91B40D;
}

.pr-navbar li:hover {
    color: #91B40D;
    cursor: pointer;
    transition: .5s;
}

.pr-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px 5em;
}

.pr-item {
    width: 200px;
    height: 200px;
    margin: 2em 1em;
}

.pr-item-content {
    position: relative;
    top: 166px;
    width: 182px;
    height: 74px;
    background: #FFFFFF;
    box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.0784314);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.product-name {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #3E3737;
}

.product-price {
    font-family: 'Charm';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 34px;
    color: #91B40D;
}


/* BLOGS */

.blogs {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 8em;
    background-image: url("images/blogs/Group\ 423.png");
    background-repeat: no-repeat;
    background-position: right top;
}

.blogs-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 3em;
}

.blog-img img {
    width: 370px;
    height: 250px;
}

.blog-header {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #2F2A2A;
    margin-top: 1em;
}

.blog-text {
    font-style: normal;
    margin-top: 1em;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #7C7A7A;
    max-width: 320px;
}

.blog-1,
.blog-3 {
    margin-top: 2em;
}


/* FOOTER */

.footer {
    display: flex;
    background-image: url("images/footer/bg2.png");
    background-size: cover;
    justify-content: center;
    align-content: center;
    height: 40em;
}

.footer-container {
    margin-top: 15em;
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
}

.footer-bar {
    display: flex;
    justify-content: space-around;
}

.footer-bar ul {
    list-style: none;
    color: white;
    font-size: 18px
}

.footer-bar li {
    margin: 1em 0;
}

.footer-bar a {
    text-decoration: none;
    color: white;
}

.li-head {
    font-weight: bold;
    font-size: 1.2em;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-end {
    margin-top: 2em;
    border-top: white 1px solid;
    color: white;
    padding: 1em 0;
}


/* RESPONSIVE */

@media only screen and (max-width: 1200px) {
    .header {
        height: 900px;
    }
    .garden-2 {
        flex-direction: column;
    }
    .pre-present {
        display: none;
    }
    .wwa-img {
        display: none;
    }
    .wwa-content {
        height: 50em;
        padding: 1em;
        margin: 3em 0;
    }
    .wwa-content-text {
        font-size: .8em;
    }
    .wwa-content-img-holder {
        display: none;
    }
    .who-we-are {
        height: 60em;
    }
    .footer-logo {
        display: none;
    }
    .blog-2 {
        margin-top: 2em;
    }
    .wwa-content-bar {
        font-size: .7em;
    }
    .garden-num {
        font-size: 80px;
    }
    .navbar {
        display: none;
    }
    .media-links i {
        padding-left: .5em;
    }
    .menu-icon {
        z-index: 999;
        display: inline !important;
        transition: .5s;
    }
    .bar-icon:hover {
        cursor: pointer;
    }
    .header-filter {
        filter: blur(5px);
    }
    .responsive-menu {
        transition: 1s;
        display: none;
        top: 0;
        right: 0;
        position: absolute;
        z-index: 99;
        width: 100%;
        height: 900px;
        padding: 10em 5em;
        justify-content: start;
        align-self: center;
        background-color: #000000b8;
    }
    .li-head {
        font-size: .8em;
    }
    .footer-bar a {
        font-size: .7em;
    }
    .pr-container {
        padding: 2em 0;
    }
    .pr-item {
        width: 150px;
        height: 150px;
        margin: 2em 1em;
    }
    .pr-item-content {
        top: 120px;
        width: 150px;
        height: 40px;
    }
    .product-name,
    .product-price {
        font-size: .7em;
        line-height: 15px;
    }
    .responsive-nav {
        display: inline;
    }
    .responsive-nav a {
        text-decoration: none;
        color: #91B40D;
        font-weight: 600;
    }
    .responsive-nav li {
        margin: 2em 0;
        list-style: none;
    }
    .responsive-nav i {
        margin-right: 5px;
    }
    h1 {
        font-size: 1.5em;
    }
}